registry=https://registry.npmjs.org
@tmon-sdl:registry=https://nexus.tmon.co.kr/service/rest/repository/browse/npm-group/
@tvon:registry=https://nexus.tmon.co.kr/repository/npm-group

use-node-version=18.0.0
auto-install-peers=true
